TF_VAR_POSTGRES_HOST=xxx
TF_VAR_POSTGRES_PORT=1111
TF_VAR_POSTGRES_DATABASE=xx
TF_VAR_POSTGRES_USER=xx
TF_VAR_POSTGRES_PASSWORD=xxx

TF_VAR_POSTGRES_DW_HOST=xxx
TF_VAR_POSTGRES_DW_PORT=1111
TF_VAR_POSTGRES_DW_DATABASE=xx
TF_VAR_POSTGRES_DW_USER=xx
TF_VAR_POSTGRES_DW_PASSWORD=xx

TF_VAR_MINIO_ENDPOINT=http://xx:111
TF_VAR_MINIO_ACCESS_KEY=xxx
TF_VAR_MINIO_SECRET_KEY=xxx
COMPOSE_PROJECT_NAME=projet-mig8110_devcontainer