.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
pdm.lock 
.venv
__pypackages__/
__pycache__/
.env
local_run.ipynb
airflow_config/logs
airflow_config/lib
airflow_config/airflow.cfg
airflow_config/airflow.db
airflow_config/webserver_config.py
airflow_config/airflow-webserver.pid
dist
.pdm-build