
services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: operation
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5430:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  airflow:
    image: apache/airflow:2.8.1
    container_name: airflow
    command: >
      bash -c "
        chmod +x /opt/airflow/scripts/entrypoint.sh &&
        /opt/airflow/scripts/entrypoint.sh
      "
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
      AIRFLOW__CORE__FERNET_KEY: ''
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    volumes:
      - airflow_data:/opt/airflow
      - ./scripts:/opt/airflow/scripts
    ports:
      - "8081:8080"

  dev:
    build:
      context: ./.devcontainer
      dockerfile: Dockerfile
    volumes:
      - env_dev:/workspace
    tty: true

volumes:
  pgdata:
  minio_data:
  airflow_data:
  env_dev:
